.footer {
  background-color: rgb(179, 255, 174);
  text-align: center;
  padding: 60px;
}

.footer a {
  font-size: 30px;
  color: rgb(255, 125, 125);
  margin-right: 15px;
}

.footer p {
  color: darkgray;
}

.footer .fas {
  color: red;
}
